<h2>Hardver</h2>

<ul class="hardwares">
  <li *ngFor="let hardware of hardwares">
    <a [routerLink]="['/detail', hardware.code]">
      <span class="badge">{{ hardware.code }} 🖥️</span> {{ hardware.name }}
    </a>
    <button type="button" class="delete" title="delete hardware" (click)="delete(hardware)">
      x
    </button>
  </li>
</ul>

<div>
  <h3>Unesi novi hardver</h3>
  <label>Naziv:
    <input #name />
  </label>
  <label>Šifra:
    <input #code />
  </label>
  <label>Cijena:
    <input type="number" #price />
  </label>
  <label>Tip
    <select #type>
      <option value="CPU">CPU</option>
      <option value="GPU">GPU</option>
      <option value="MBO">MBO</option>
      <option value="RAM">RAM</option>
      <option value="STORAGE">STORAGE</option>
      <option value="OTHER">OTHER</option>
    </select>
  </label>
  <label>Broj komada na stanju:
    <input type="number" #nrAvailable />
  </label>
  <button (click)="
    add(name.value, code.value, +price.value, type.value, +nrAvailable.value);
    name.value = '';
    code.value = '';
    type.value = ''
  ">
    Unesi hardver
  </button>
</div>